<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="ContainerWarmer.Pipelines.LoadRoutes, ContainerWarmer" patch:after="*[@type='Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Speak.Client']" />
			</initialize>
			<warmup>
				<processor type="ContainerWarmer.Processors.UrlProcessor, ContainerWarmer">
					<urls hint="list:IncludeUrl">
						<url>/healthz/live</url>
					</urls>
				</processor>
				<processor type="ContainerWarmer.Processors.UrlProcessor, ContainerWarmer" role:require="ContentDelivery">
					<param desc="allowCaching">true</param>
					<urls hint="list:IncludeUrl">
						<url>/</url>
					</urls>
				</processor>
				<processor type="ContainerWarmer.Processors.UrlProcessor, ContainerWarmer" role:require="ContentManagement or Standalone">
					<param desc="allowCaching">true</param>
					<urls hint="list:IncludeUrl">
						<url>/</url>
						<url>/sitecore</url>
					</urls>
				</processor>
			</warmup>
		</pipelines>
		<api>
			<services>
				<configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
					<allowedControllers hint="list:AddController">
						<allowedController desc="WarmupController">ContainerWarmer.Controllers.WarmupController, ContainerWarmer</allowedController>
					</allowedControllers>
				</configuration>
			</services>
		</api>
		<settings>
			<setting name="Warmup.BaseUrl" value="http://cm.iarextractor.local"/>
		</settings>
	</sitecore>
</configuration>